body{
margin: 0 0 0 0;
min-width: 800px;
background-color: #f0f5f7;
}

.nomar{
margin: 0 0 0 0;
padding: 0 0 0 0;
border: 0 0 0 0;
}

.pervaplashka{
 height		: 3.75em;
 background: #333;
 color: #088;
 text-align:center;
 font-family: GloberThinFree;
 font-size: 4vw;
 font: bold;
  
}

.menu{
  display: flex;
  align: center;
}

.menu-item{
  display:block;
  background:#eee;
  color:#088;
  font-family: DaxlinePro-Regular;
  font-weight: 300;
  text-decoration:none;
  text-align:center;
  margin:2px 1px;
  padding:10px 10px;
  transition:all 0.3s;
  flex-grow: 1;
  }
 
.menu-item:hover{
  box-shadow:0px -3px 0 #088 inset;
}

.menu-item_state_active{
  display:block;
  background:#eee;
  color:#088;
  font-family: DaxlinePro-Regular;
  font-weight: 300;
  text-decoration:none;
  text-align:center;
  margin:2px 1px;
  padding:10px 10px;
  transition:all 0.3s;
  flex-grow: 1;
  box-shadow:0px -3px 0 #088 inset;
  }

.list-block{
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 110px;
}

.list-block:hover{
    background-color: #eee;
}

.bignum{
  width: 50px;
  font-size: 60px;
  color:#088;
  font-family: DaxlinePro-Regular;
  font-weight: 300;
  text-align: right;
  margin-right: 30px;
}

.inner-list{
  min-width: 250px;
  width: 40%;
  color:#088;
  line-height: 130%;
  font-family: DaxlinePro-Regular;
  font-weight: 300;
  font-size:18px;
}


.offer-block{
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    width: 50%;
    height: 250px;
}

.pics-frame{
   margin:0 auto;
   display: flex;
   min-width: 700px;
   width: 50%;
   justify-content: center;
}

.ramka{
    border: 20px double #333;
    }